<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->

<head>

	<!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Ljekarne PharmAD</title>
   <meta name="description" content="">  
   <meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

   <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500&display=swap&subset=latin-ext" rel="stylesheet">

   <!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="offline/css/base.css">
   <link rel="stylesheet" href="offline/css/vendor.css">
   <link rel="stylesheet" href="offline/css/main.css">    

   <!-- Modernizr
   =================================================== -->
   <script src="offline/js/modernizr.js"></script>

   <!-- Favicons
   =================================================== -->
   <link rel="shortcut icon" href="offline/images/favikon-pharmad.png" >
    
</head>
    
<body>

   <!--[if lt IE 9]>
   	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. 
   	Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
   <![endif]-->   

   <!-- content-wrap -->
   <div id="content-wrap">

      <!-- main  -->
      <main class="row">

            <header class="site-header">
               <div class="logo">
               	<a href="index.html">Ljekarne PharmAD</a>
               </div> 
            </header>

            <div id="main-content" class="twelve columns">

               <h1 >Web stranica je u fazi izrade.</h1>

          

               <hr>

               <div id="counter" class="group">
                  <span>5 <em>dana</em></span> 
                  <span>12 <em>sati</em></span>
                  <span>50 <em>minuta</em></span>
                  <span>33 <em>sekundi</em></span> 
               </div>                  

               <!-- MailChimp Signup Form -->
              <!--   <div id="mc-signup">

                  <form id="mc-form" class="group">
                          
               		<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email adresa" required>                       
                                       
                     <input type="submit" value="Obavijesti me" name="subscribe" class="button">

                     <label for="mce-EMAIL" class="subscribe-message"></label>
                       
                  </form>

               </div>--> <!-- /sign-up form -->

            </div><!-- /main-content form -->

  
            
      </main>	      

   </div><!-- /content-wrap --> 
    	

   <!-- modals
   =================================================== -->
	      
	<section id="mod-about" >

	   <!-- Modal toggle -->
	   <div class="modal-toggle">
	      <a href="#" title="close" id="modal-close">zatvori</a>
	   </div>	        	

	   <div class="row about-header">

			<div class="twelve columns">	

			   <div class="icon-wrap">
			      <i class="icon"></i>
			   </div>

				<h1>O nama</h1>			         

			</div>

	   </div> <!-- /about-header -->                   	

		<div class="row about-content">
							
			<div class="six columns mob-whole">
				<p>Poslujemo na 4 lokacije:</p>
  <p>Prigorje Brdovečko, Zagrebačka 99, tel.: 01/4678893</p>
  <p>Harmica, Ivana Perkovca 4, tel.: 01/3396511</p>
  <p>Kraljevec na Sutli, Kraljevec na Sutli 131, tel.: 049/289004</p>
  <p>Zabok, Dubrava Zabočka 90B, tel: 049/220000</p>
			</div>

			<div class="six columns mob-whole contact">
			
			   <h3>Kontakt :</h3>
			   <p>Tel: +385 (0) 1 4678 893</p>

			   <h3>Email:</h3>
			   <p>ljekarne.pharmad@gmail.com
			   </p>

			   <h3>Adresa:</h3>
			   <p>Ljekarne PharmAD<br />

Ivana Perkovca 4<br />
10292 Šenkovec (Harmica)<br />
tel: +385 1 339 6511<br />
OIB: 67642543751<br />
			   </p>

			</div>            

		</div> <!-- /about-content -->

				      

   </section><!-- /mod-about -->

   <section id="mod-map" >

      <!-- Modal toggle -->
      <div class="modal-toggle">
         <a href="#" title="close" id="modal-close"><span>Zatvori</span></a>
      </div>

      <div id="map-container" style="display:none"></div>

      <div id="map-zoom-in"></div>
		<div id="map-zoom-out"></div>
      
      <address>
	      Ljekarne PharmAD <br>
			Ivana Perkovca 4, 10292 Šenkovec, Hrvatska 
      </address> 

   </section><!-- /mod-about -->


 	<!-- footer
   =================================================== -->
   <footer class="group">         

     	<ul class="footer-social">
         <li><a href="https://www.facebook.com/ljekarna.pharmad/"><i class="fa fa-facebook"></i></a></li>
       
    
        
     	</ul>   

     	<ul class="footer-copyright">
         <li>&copy; Copyright 2021 Ljekarne PharmAD. Web by <a href="https://www.agmedia.hr">AG media</a></li>
      
      </ul>  
        
   </footer> 

   
   
<!-- Script
=================================================== -->
<script src="offline/js/jquery-1.11.3.min.js"></script>
<script src="offline/js/jquery-migrate-1.2.1.min.js"></script>
<script src="https://maps.google.com/maps/api/js?key=AIzaSyD18A7fvegjrnE2q_CSKvz49WJ8RRi_s9k" type="text/javascript"></script>   
<script src="offline/js/jquery.fittext.js"></script>
<script src="offline/js/jquery.countdown.min.js"></script>
<script src="offline/js/jquery.placeholder.min.js"></script>
<script src="offline/js/owl.carousel.min.js"></script>
<script src="offline/js/jquery.ajaxchimp.min.js"></script>
<script src="offline/js/main.js"></script>    
        
</body>
</html>